.qr-interstitial {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: blur(0.2rem);
}
.qr-interstitial__modal:backdrop {
  background: rgba(0, 0, 10, 0.3);
}
.qr-interstitial__modal {
  padding: 0;
  width: 640px;
  max-width: 80%;
  height: 480px;
  max-height: 80dvh;
  background: var(--il-background);
  color: var(--il-color);
  border: 1px solid var(--il-panel-border);
  box-shadow: 0 0.5rem 1rem #000;
  border-radius: 0.3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.qr-interstitial__bar {
  background: var(--il-panel-background);
  border-top: 1px solid var(--il-panel-border);
}
.qr-interstitial__container {
  padding: 1rem;
}

.qr-interstitial h1 {
  margin: 0;
}

.qr-interstitial__top {
  padding: 1.5rem 1rem 0.2rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--il-panel-border);
  background: var(--il-toolbar-background);
}

.qr-interstitial__content {
  flex: 1;
  position: relative;
}

.qr-interstitial__content .qr-interstitial__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.qr-interstitial button {
  padding: 0.5rem;
  min-width: 5.5rem;
  margin: 0 0 0 auto;
  display: block;
  cursor: pointer;
}
