.qr-toolbar {
  display: flex;
  border: 1px solid var(--il-panel-border);
  background: var(--il-toolbar-background);
  gap: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.qr-toolbar__item {
  padding: 0 0.25rem;
  background: var(--il-panel-background);
  border: 1px solid var(--il-panel-border);
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.qr-toolbar__flex {
  flex: 1;
}
.qr-toolbar__button {
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-toolbar__button:hover,
.qr-toolbar__button:focus {
  cursor: pointer;
}

.qr-toolbar__title {
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  margin: 0 1rem 0 0.5rem;
  gap: 0.3rem;
}
.qr-toolbar__title-a {
  font-weight: bold;
}
.qr-toolbar__title-b {
  opacity: 0.8;
}
.qr-toolbar__time {
  text-wrap: nowrap;
  min-width: 4.5em;
  text-align: right;
}
